---
layout: base
title: 'Tag Index'
subtitle: 'Every label in the archive'
---

{% assign date_format = site.date_format | default: "%Y.%m.%d" %}

{%- capture site_tags -%}
  {%- for tag in site.tags -%}{{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split: ',' | sort -%}

{% include screen-header.html type="page" %}

{% if tags_list.size > 0 %}
<section class="panel panel--matrix">
  <span class="panel__tab">INDEX</span>
  <div class="taglist taglist--matrix">
    {%- for tag in tags_list -%}
      <a class="tag" href="#{{- tag -}}">{{- tag -}}<span class="tag__count">{{ site.tags[tag].size }}</span></a>
    {%- endfor -%}
  </div>
</section>
{% endif %}

<div class="tagsections">
{%- for tag in tags_list -%}
  <section class="tagsection" id="{{- tag -}}">
    <h2 class="screen__title"><span class="screen__title-mark">&gt;&gt;</span> {{ tag }} <span class="screen__title-count">[{{ site.tags[tag].size }}]</span></h2>

    <ol class="filelist">
      {%- for post in site.tags[tag] -%}
        <li class="filelist__row">
          <a class="filelist__link" href="{{ post.url | relative_url }}">
            <time class="filelist__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
            <span class="filelist__name">{{ post.title | strip_html }}</span>
          </a>
        </li>
      {%- endfor -%}
    </ol>
  </section>
{%- endfor -%}
</div>
