{%- comment -%}
  Contact channels as labelled console chips, driven straight from
  site.social-network-links so adding a network is a config-only change.
{%- endcomment -%}

<ul class="channels">
{%- for item in site.social-network-links -%}
  {%- assign key = item[0] -%}
  {%- assign val = item[1] -%}
  {%- assign url = "" -%}
  {%- assign icon = "fas fa-link" -%}
  {%- assign label = key | upcase -%}

  {%- case key -%}
    {%- when "rss" -%}
      {%- if val -%}{%- assign url = "/feed.xml" | relative_url -%}{%- endif -%}
      {%- assign icon = "fas fa-rss" -%}{%- assign label = "FEED" -%}
    {%- when "email" -%}
      {%- assign url = val | prepend: "mailto:" -%}
      {%- assign icon = "fas fa-envelope" -%}{%- assign label = "MAIL" -%}
    {%- when "github" -%}
      {%- assign url = val | prepend: "https://github.com/" -%}
      {%- assign icon = "fab fa-github" -%}
    {%- when "linkedin" -%}
      {%- assign url = val | prepend: "https://linkedin.com/in/" -%}
      {%- assign icon = "fab fa-linkedin" -%}
    {%- when "stackoverflow" -%}
      {%- assign url = val | prepend: "https://stackoverflow.com/users/" -%}
      {%- assign icon = "fab fa-stack-overflow" -%}{%- assign label = "STACKOVERFLOW" -%}
    {%- when "instagram" -%}
      {%- assign url = val | prepend: "https://www.instagram.com/" -%}
      {%- assign icon = "fab fa-instagram" -%}
    {%- when "mastodon" -%}
      {%- assign url = val | prepend: "https://" -%}
      {%- assign icon = "fab fa-mastodon" -%}
    {%- when "twitter" -%}
      {%- assign url = val | prepend: "https://twitter.com/" -%}
      {%- assign icon = "fab fa-twitter" -%}
    {%- when "facebook" -%}
      {%- assign url = val | prepend: "https://www.facebook.com/" -%}
      {%- assign icon = "fab fa-facebook" -%}
    {%- when "reddit" -%}
      {%- assign url = val | prepend: "https://reddit.com/u/" -%}
      {%- assign icon = "fab fa-reddit" -%}
    {%- when "youtube" -%}
      {%- assign url = val | prepend: "https://www.youtube.com/" -%}
      {%- assign icon = "fab fa-youtube" -%}
    {%- when "telegram" -%}
      {%- assign url = val | prepend: "https://t.me/" -%}
      {%- assign icon = "fab fa-telegram-plane" -%}
    {%- when "medium" -%}
      {%- assign url = val | prepend: "https://medium.com/@" -%}
      {%- assign icon = "fab fa-medium" -%}
    {%- when "discord" -%}
      {%- assign url = val | prepend: "https://discord.com/" -%}
      {%- assign icon = "fab fa-discord" -%}
    {%- when "steam" -%}
      {%- assign url = val | prepend: "https://steamcommunity.com/id/" -%}
      {%- assign icon = "fab fa-steam" -%}
    {%- when "twitch" -%}
      {%- assign url = val | prepend: "https://www.twitch.tv/" -%}
      {%- assign icon = "fab fa-twitch" -%}
    {%- when "telephone" -%}
      {%- assign url = val | prepend: "tel:" -%}
      {%- assign icon = "fas fa-phone" -%}{%- assign label = "PHONE" -%}
  {%- endcase -%}

  {%- if url != "" and val -%}
  <li>
    <a class="channel" href="{{ url }}"{% if key == "mastodon" %} rel="me"{% endif %} title="{{ label }}">
      <i class="{{ icon }}" aria-hidden="true"></i><span class="channel__label">{{ label }}</span>
    </a>
  </li>
  {%- endif -%}
{%- endfor -%}
</ul>
